<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot</title>
</head>
<body>

    <div>
        <h1>Welcome to Spring Boot Web Application...</h1>

        <a href="/news">
            <button>Go to News</button>
        </a>

        <br />
        <br />

        <div>
            <h3>Fill the form below to add news:</h3>
            <form method="post">
                News Title : <br />
                <input type = "text" name = "title" />
                <br />
                <br />
                News Description : <br />
                <textarea rows = "3" cols = "30" name = "description" placeholder="Enter news description here..."></textarea>

                <br />
                <input type = "submit" name = "submit" value = "Submit" />
            </form>
        </div>
    </div>

</body>
</html>